<%- include('../header.ejs') %>
    <br><br><br><br><br><br>

    <a href="/display" class="btn btn-primary rounded-0">Contact</a>

    <h1 class="mt-5">All courses display</h1>
    <div class="container mt-5">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Course</th>
                        <th>status</th>
                        <th>Comment</th>
                        <th></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% i=1 %>
                        <% d.forEach((item)=>{ %>
                            <tr>
                                <td>
                                    <%= i++ %>
                                </td>
                                <td>
                                    <%= item.name %>
                                </td>
                                <td>
                                    <%= item.email %>
                                </td>
                                <td>
                                    <%= item.course %>
                                </td>
                                <td>
                                    <%= item.status %>
                                </td>


                                <td>
                                    <form action="/update_approve/<%= item._id %>" method="post">
                                        <textarea name="comment"></textarea>
                                        <input type="hidden" name="email" value="<%= item.email %>">
                                        <input type="hidden" name="name" value="<%= item.name %>">
                                        <input type="hidden" name="course" value="<%= item.course %>">

                                </td>
                                <td>
                                    <button class="btn btn-success" type="submit" name="status"
                                        value="approved">Approve</button>
                                    <button class="btn btn-danger" type="submit" name="status"
                                        value="rejected">Rejected</button>
                                    </form>
                                </td>
                                <td>
                                    <a href="/admin/course_view/<%= item._id %>" class="btn btn-info">View</a>
                                    <a href="/admin/course_delete/<%= item._id %>" class="btn btn-primary">Delete</a>

                                </td>
                            </tr>
                            <% }) %>

                </tbody>
            </table>

        </div>

    </div>

    <%- include('../footer.ejs') %>